:root {
    --primary-color: #DE8971;
    --primary-color-light: #de8971a9;
    --secondary-color: #A84A48;
    --border-color: #ddd;
    --light-font-color: #6e6e6e;
    --shadow-color-light: #bdbdbd;
    --shadow-color-dark: #8d8d8d;
    --disabled-color: #dddddd;
}
* {
    box-sizing: border-box;
}